In [82]:
import sys
import numpy
import pandas
import matplotlib
import seaborn
import scipy

In [35]:
print('pythhon_version: {}'.format(sys.version))
print('numpy: {}'.format(numpy.__version__))
print('pandas : {}'.format(pandas.__version__))

pythhon_version: 3.8.2 (v3.8.2:7b3ab5921f, Feb 24 2020, 17:52:18)
[Clang 6.0 (clang-600.0.57)]
numpy: 1.18.4
pandas : 1.0.3

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df=pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [47]:
df.shape

(284807, 31)

In [50]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [57]:
df=df.sample(frac=0.1, random_state=1)

In [79]:
df.shape

(28481, 31)

In [80]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,...,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000,28481.000000
mean,94705.035216,-0.001143,-0.018290,0.000795,0.000350,-0.015666,0.003634,-0.008523,-0.003040,0.014536,...,0.004740,0.006719,-0.000494,-0.002626,-0.000917,0.004762,-0.001689,-0.004154,89.957884,0.001720
std,47584.727034,1.994661,1.709050,1.522313,1.420003,1.395552,1.334985,1.237249,1.204102,1.098006,...,0.744743,0.728209,0.645945,0.603968,0.520679,0.488171,0.418304,0.321646,270.894630,0.041443
min,0.000000,-40.470142,-63.344698,-31.813586,-5.266509,-42.147898,-19.996349,-22.291962,-33.785407,-8.739670,...,-16.640785,-10.933144,-30.269720,-2.752263,-7.025783,-2.534330,-8.260909,-9.617915,0.000000,0.000000
25%,53924.000000,-0.908809,-0.610322,-0.892884,-0.847370,-0.703986,-0.765807,-0.562033,-0.208445,-0.632488,...,-0.224842,-0.535877,-0.163047,-0.360582,-0.319611,-0.328476,-0.071712,-0.053379,5.980000,0.000000
50%,84551.000000,0.031139,0.051775,0.178943,-0.017692,-0.068037,-0.269071,0.028378,0.024696,-0.037100,...,-0.029075,0.014337,-0.012678,0.038383,0.015231,-0.049750,0.000914,0.010753,22.350000,0.000000
75%,139392.000000,1.320048,0.792685,1.035197,0.737312,0.603574,0.398839,0.559428,0.326057,0.621093,...,0.189068,0.533936,0.148065,0.434851,0.351466,0.253580,0.090329,0.076267,78.930000,0.000000
max,172784.000000,2.411499,17.418649,4.069865,16.715537,28.762671,22.529298,36.677268,19.587773,8.141560,...,22.588989,6.090514,15.626067,3.944520,5.541598,3.118588,11.135740,15.373170,19656.530000,1.000000

In [ ]:
plt.hist(df)

(array([[30.,  0.,  0., ...,  0.,  0.,  0.],
        [30.,  0.,  0., ...,  0.,  0.,  0.],
        [30.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [31.,  0.,  0., ...,  0.,  0.,  0.],
        [30.,  0.,  0., ...,  0.,  0.,  0.],
        [30.,  0.,  0., ...,  0.,  0.,  0.]]),
 array([-6.33446983e+01,  1.72213898e+04,  3.45061242e+04,  5.17908587e+04,
         6.90755932e+04,  8.63603277e+04,  1.03645062e+05,  1.20929797e+05,
         1.38214531e+05,  1.55499266e+05,  1.72784000e+05]),
 <a list of 28481 Lists of Patches objects>)