In [ ]:
%matplotlib inline
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
d = {'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3}

In [ ]:
d

{'Iris-setosa': 1, 'Iris-versicolor': 2, 'Iris-virginica': 3}

In [ ]:
d['Iris-setosa']

1

In [ ]:
df['labels'] = df.Species.map(lambda x : d[x])

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species labels
0   1            5.1           3.5  ...           0.2  Iris-setosa      1
1   2            4.9           3.0  ...           0.2  Iris-setosa      1
2   3            4.7           3.2  ...           0.2  Iris-setosa      1
3   4            4.6           3.1  ...           0.2  Iris-setosa      1
4   5            5.0           3.6  ...           0.2  Iris-setosa      1

[5 rows x 7 columns]

In [ ]:
df.labels.unique()

array([1, 2, 3])

In [ ]:
x = df.iloc[ : , 1:5]

In [ ]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
y = df.Species

In [ ]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train, y_test = train_test_split(x, y , test_size = 0.2, stratify = y)

In [ ]:
from sklearn.svm import SVC

In [ ]:
from sklearn.model_selection import cross_val_score

cross_val_score(SVC(C =1, kernel='linear'), x, y, cv=5).mean()

0.9800000000000001

In [ ]:
cross_val_score(SVC(C =1, kernel='rbf'), x, y, cv=5).mean()

0.9666666666666666

In [ ]:
cross_val_score(SVC(C =1, kernel='poly'), x, y, cv=5).mean()

0.9800000000000001

In [ ]:
svm_model = SVC(C = 1, kernel='linear')
svm_model.fit(x_train, y_train)
svm_model.score(x_test, y_test)

1.0

In [ ]:
svm_model.predict(x_test)

array(['Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa'], dtype=object)

In [ ]:
svm_model.predict([[4,6,4,5]])

array(['Iris-virginica'], dtype=object)

In [ ]:
import pickle

In [ ]:
fi = open('/content/svm_model.pkl', 'wb')

In [ ]:
pickle.dump(svm_model, fi)

In [ ]:
fi.close()

In [ ]:
hi = open('/content/svm_model.pkl', 'rb')

In [ ]:
model = pickle.load(hi)

In [ ]:
model.predict([[4,6,4,5]])

array(['Iris-virginica'], dtype=object)